name: Build for CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "main" ]

jobs:
  build-plugin-ci:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Install MAUI workload
      run: dotnet workload install maui

    - name: Build
      run: dotnet build Plugin.Maui.Crosswind.sln -c Release

    - name: Run Tests
      run: dotnet test Plugin.Maui.Crosswind.Tests/Plugin.Maui.Crosswind.Tests.csproj -c Release --no-build